    <div class="footer-top">
        <section class="section-1">
            <h2>Información y Ayuda</h2>
            <ul>
                <li><h3><a href="{{ "/informacion" | relURL }}">¿Quiénes somos?</a></h3></li>
                <li><h3><a href="{{ "/informacion" | relURL }}">Misión</a></h3></li>
                <li><h3><a href="{{ "/informacion" | relURL }}">Visión</a></h3></li>
                <li><h3><a href="{{ "/informacion" | relURL }}">Preguntas Frecuentes</a></h3></li>
                
                <div style="display: flex;background-color: rgba(233, 18, 18, 0.829);width: 70px; height: 30px;border-radius: 10px;justify-content: center;align-items: center;">
                    <li><h3><a href="">Soporte</a></h3></li>
                </div>
            </ul>
            
            
        </section>

        <section class="section-2">
            <h2>Otras Dependencias</h2>
            <ul>
                <li><h3>Newsletter Noticias</h3></li>
                <li><h3>Blog</h3></li>
            </ul>
        </section>

        <section class="section-3">
            <h2>Redes Sociales</h2>
            <div class="redes-sociales">
                    <img src="/images/youtube.svg" alt="Imagen de Habitaciones" />
                    <img src="/images/instagram.svg" alt="Imagen de Habitaciones" />   
                    <img src="/images/tiktok.svg" alt="Imagen de Habitaciones" />
                    <img src="/images/telegram.svg" alt="Imagen de Habitaciones" />
            </div>
        </section>
    </div>

    <div class="footer-bottom">
        <h4>Diseñado Por Zenaku A ZENAKU GROUP © 2024.</h4>
    </div>
</footer>
